# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite-source-tags.js
.vercel
*.zip
.logo-images/Gemini_Generated_Image_33crga33crga33cr.png
.logo-images/Gemini_Generated_Image_3o95ts3o95ts3o95.png
.logo-images/Gemini_Generated_Image_479x4t479x4t479x.png
.logo-images/Gemini_Generated_Image_lmwmj6lmwmj6lmwm.png
.logo-images/Gemini_Generated_Image_rqhl27rqhl27rqhl.png
.logo-images/Gemini_Generated_Image_rqpt9lrqpt9lrqpt.png
.logo-images/Gemini_Generated_Image_33crga33crga33cr_nobg.png
.logo-images/Gemini_Generated_Image_2gezdu2gezdu2gez.png
.logo-images/FgksZTGUoAAGzDW-805x452.jpg
.logo-images/0icon_nobg.png
